<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dat2-3</title>
</head>
<body>
<!--<div ng-app="" ng-init="number=[1,2,3,45,6]">-->
    <!--<p>数字三是:{{ number[2] }}</p>-->
<!--</div>-->
<!--<div ng-app="" ng-init="Name='aa'">-->
    <!--姓名: <input type="text" ng-model="Name">-->
    <!--<p>您的姓名是{{ Name }}</p>-->
<!--</div>-->
<div ng-app="" ng-init="price=1;number=1">
    价格: <input type="text" ng-model="price">
    数量: <input type="text" ng-model="number">
    <p>总价格是:{{ price*number }}</p>
</div>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</body>
</html>